.videoName {
    float: left;
    margin: 2%;
    font-size: 16px;
}

.videoTime {
    float: right;
    margin: 2%;
    font-size: 16px;
}

.videoCount {
    clear: both;
    margin: 2%;
    font-size: 14px;
}

.videoTeacher {
    float: left;
    margin: 2%;
    font-size: 14px;
}

.videoShare {
    float: right;
}